body {
    margin: 0;

    font-family: "Arial", sans-serif;

    background-color: #1d1b31;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100vh;
    color: #f3e9f7;
}

.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;

    background: linear-gradient(135deg, #312450, #462d72);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin: 0;

    color: #d9bfff;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
}

.raccoon-gif {
    margin: 20px auto;

    width: 100%;
    max-width: 300px;

    border-radius: 10px;

    overflow: hidden;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;

    color: #b8a1d1;
}

footer a {
    color: #d9bfff;

    text-decoration: none;
}

footer a :hover {
    text-decoration: dotted;
}